body {
  background-image: linear-gradient(#202020, black);
  margin: 0;
}

#page-container{
  overflow: hidden;
}
/*
Landing panel styling
*/

.landing-panel-original-state{
  color: white;
  height: 80%;
  overflow: hidden;
}

.landing-panel-landing-state{
  color: white;
  height: 80%;
  transition: 1s;
  overflow: hidden;
}

.landing-panel-project-state{
  color: white;
  height: 0px;
  opacity: 0%;
  transition: 1s;
  overflow: hidden;
}

/*
Cartridge panel styling
*/

.cartridge-panel-original-state{
  position: relative;
  height: 20%;
}

.cartridge-panel-landing-state{
  position: relative;
  height: 20%;
}

.cartridge-panel-project-state{
  position: relative;
  transition: 0.5s;
  height: 5%;
}

.cartridge-row {
  position: absolute;
  overflow: hidden;
  bottom: 0;
  height: 150px;
}

.cartridge-container {
  overflow: hidden;
  display: inline-block;
  height: 100%;
  width: 100px;
  margin: 10px;
  border: 1px solid red;
}

.cartridge {
  position: relative;
  margin-left: 10px;
  margin-top: 10px;
}

.cartridge img {
  width: 100%
}

/*
Contents panel styling
*/

.contents-panel-original-state{
  overflow: hidden;

  height: 0px;
}

.contents-panel-landing-state{
  overflow: hidden;
  transition: 1s;
  height: 0px;
}

.contents-panel-project-state{
  overflow: hidden;
  transition: 0.5s;
  height: 95%;
  background-color: #6d828a;
}
