body {
  background-image: linear-gradient(#202020, black);
  margin: 0;
}

.landing-panel-landing-state{
  height: 700px;
}

.cartridge-panel-original-state{
  overflow: hidden;

  height: 150px;
}

.cartridge-panel-landing-state{
  height: 200px;
}

.cartridge-panel-project-state{
  overflow: hidden;
  transition: 0.5s;
  height: 50px;
}

.cartridge-row {
  height: 150px;
}

.cartridge-container {
  overflow: hidden;
  display: inline-block;
  height: 100%;
  width: 100px;
  margin: 10px;
  border: 1px solid red;
}

.cartridge {
  position: relative;
  margin-left: 10px;
  margin-top: 10px;
}

/* temporary while I haven't implemented slide yet */
/*
.cartridge:hover {
  position: relative;
  margin-left: 10px;
  margin-top: 60px;
  transition: 0.2s;
}
*/

.cartridge img {
  width: 100%
}
