body {
  background-image: linear-gradient(#202020, black);
  margin: 0;
}

#page-container{
  overflow: hidden;
}
/*
Landing panel styling
*/

.landing-panel-original-state{
  z-index: 0;
  color: white;
  height: 80%;
  overflow: visible;
}

.landing-panel-landing-state{
  z-index: 0;
  color: white;
  height: 80%;
  transition: 1s;
  overflow: visible;
}

.landing-panel-project-state{
  z-index: 0;
  color: white;
  height: 0px;
  opacity: 0%;
  transition: 0.5s;
  overflow: hidden;
}

.landing-panel-projects-state{
  z-index: 0;
  color: white;
  height: 0px;
  opacity: 0%;
  transition: 1s;
  overflow: visible;
}

/*
Cartridge panel styling
*/

#show-all-projects-button {
  height: 30px;
  width: 30px;
  background-color: white;
  border-radius: 15px;
  display: inline-block;
  margin-bottom: 40px;
  z-index: 3;
}


/* Used for manipulating all cartridge positions at once */
#cartridge-row-absolute-container{
  position: absolute;
  bottom: 0;
}

.cartridge-panel-original-state{
  position: relative;
  height: 20%;
}

.cartridge-panel-landing-state{
  position: relative;
  height: 20%;
}

.cartridge-panel-project-state{
  position: relative;
  border-bottom: 3px solid white;
  overflow: hidden;
  transition: 0.5s;
  height: 5%;
}

.cartridge-panel-projects-state{
  position: relative;
  transition: 0.5s;
  overflow: visible;
  height: 100%;
}

.cartridge-panel-projects-state #cartridge-row-absolute-container{
  position: absolute;
  transition: 0.5s;
  overflow: hidden;
  bottom: 90px;
}

.cartridge-row {
  overflow: hidden;
  height: 150px;
}

.cartridge-container {
  overflow: hidden;
  display: inline-block;
  height: 100%;
  width: 100px;
  margin: 10px;
}

.cartridge {
  position: relative;
  margin-left: 10px;
}

.cartridge img {
  width: 100%
}

/*
Contents panel styling
*/

.contents-panel-original-state{
  z-index: 1;
  overflow: hidden;
  transition: 1s;
  height: 0px;
}

.contents-panel-landing-state{
  z-index: 1;
  overflow: hidden;
  transition: 1s;
  height: 0px;
}

.contents-panel-project-state{
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
  height: 95%;
  background-color: black;
}
