body {
  background-image: linear-gradient(#202020, black);
  margin: 0;
}

#top-buffer {
}
img {
  opacity: 0.2;
  width: 100%;
}

.cartridge-container {
  padding-left: 300px;
  vertical-align: top;
  height: 200px;
  border-bottom: solid rgb(34, 34, 34) 3px;
  overflow: hidden;
  transition: 1s;
}

.cartridge-container-active {
  padding-left: 300px;
  vertical-align: top;
  height: 200px;
  border-bottom: solid white 2px;
  overflow: hidden;
  transition: 0.5s;
}

.cartridge_slide {
  display: inline-block;
  width: 150px;
  height: 300px;
  vertical-align: top;
  margin: 20px;
}

.cartridge {
  margin-top: 0px;
  display: inline-block;
  width: 150px;
  height: 150px;
  border: solid white 3px;
}
