body {
  background-image: linear-gradient(#202020, black);
  margin: 0;
}

#top-buffer {
}
img {
  opacity: 0.2;
  width: 100%;
  height: 100%;
}

#cartridge-container {
  vertical-align: top;
  height: 200px;
  border-bottom: solid white 3px;
  overflow: hidden;
}

.cartridge_slide {
  display: inline-block;
  width: 150px;
  height: 300px;
  vertical-align: top;
  margin: 10px;
}

.cartridge {
  display: inline-block;
  width: 150px;
  height: 150px;
  border: solid white 3px;
}

.cartridge:hover {
  display: inline-block;
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
  border: solid white 3px;
  transition: 0.2s
}
